html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

button,
a,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  input,
  select,
  textarea,
  button {
    font-size: 14px;
  }
}